// sizes
$size-w-content-max: 1920px;
$size-w-content-min: 908px;

// grid
$size-w-grid-gap-small: 16px;
$size-w-grid-gap-medium: 20px;
$size-w-grid-gap-large: 24px;

$size-w-grid-padding-small: 16px;
$size-w-grid-padding-medium: 20px;
$size-w-grid-padding-large: 36px;

// breakpoints
$size-w-mouse: 320px;
$size-w-rat: 360px;
$size-w-rabbit: 460px;
$size-w-cat: 640px;
$size-w-dog: 768px;
$size-w-wolf: 1024px;
$size-w-lion: 1100px;
$size-w-zebra: 1280px;
$size-w-horse: 1400px;
$size-w-rhino: 1520px;
$size-w-elephant: 1670px;