* {
    font-family: "Proxima Nova", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#main {
    display: flex;
    flex-direction: row;

    #ui {
        width: 440px;
        min-height: 100vh;
        height: 100vh;
        padding: 20px;
        background: $color-lightgrey;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    #preview {
        width: calc(100% - 440px);
        display: flex;
        flex-direction: column;
    }
}