@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
body {
  --colorBlack: #000000;
  --colorWhite: #ffffff;
  --colorLightGrey: #eeeeee;
  --colorGrey: #cccccc;
  --colorDarkGrey: #999999;
  --colorUiBlue: #4199d4;
  --colorUiBlue20: rgba(65, 153, 212, 0.2);
  --colorUiBlueDark: #2572a4;
  --colorAlertRed: #ff6868;
}
body.dark {
  --colorBlack: #ffffff;
  --colorWhite: #000000;
  --colorLightGrey: #141414;
  --colorGrey: #484848;
  --colorDarkGrey: #cccccc;
  --colorUiBlue: #4199d4;
  --colorUiBlue20: rgba(65, 153, 212, 0.2);
  --colorUiBlueDark: #2572a4;
  --colorAlertRed: #ff6868;
}

* {
  font-family: "Proxima Nova", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: row;
}
#main #ui {
  width: 440px;
  min-height: 100vh;
  height: 100vh;
  padding: 20px;
  background: var(--colorLightGrey);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#main #ui::-webkit-scrollbar {
  display: none;
}
#main #preview {
  width: calc(100% - 440px);
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 6px 0;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px var(--colorUiBlue) solid;
  color: var(--colorUiBlue);
  background: var(--colorWhite);
  cursor: pointer;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.button:last-child {
  margin-right: 0;
}
.button:hover {
  color: var(--colorWhite);
  background-color: var(--colorUiBlue);
}
.button:active {
  background-color: var(--colorUiBlueDark);
}
.button.alert:hover {
  color: var(--colorWhite);
  background-color: var(--colorAlertRed);
  border-color: var(--colorAlertRed);
}
.button.disabled {
  border: 1px var(--colorDarkGrey) solid;
  color: var(--colorDarkGrey);
  background: var(--colorLightGrey);
  pointer-events: none;
}

input[type=text],
textarea {
  width: 100%;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 16px;
  font-weight: 400;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  border: 0.0625rem solid var(--colorUiBlue);
  border-radius: 4px;
  -webkit-appearance: none;
  outline: none;
}
input[type=text].disabled,
textarea.disabled {
  background: var(--colorLightGrey);
  color: var(--colorDarkGrey);
  border: 0.0625rem solid var(--colorDarkGrey);
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
textarea::-webkit-resizer {
  background: var(--colorUiBlue);
}
textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-track {
  background: var(--colorWhite);
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb {
  background: var(--colorDarkGrey);
  padding: 2px;
  border: 2px solid var(--colorWhite);
  border-radius: 4px;
  height: 40%;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}

label.radio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--colorDarkGrey);
  text-transform: initial;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
label.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}
label.radio input:checked ~ .checkmark {
  background-color: var(--colorUiBlue);
}
label.radio input:checked ~ .checkmark:after {
  display: block;
}
label.radio .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: var(--colorLightGrey);
  border-radius: 50%;
}
label.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--colorWhite);
}
label.radio:hover {
  color: var(--colorGrey);
}

label.checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--colorDarkGrey);
  text-transform: initial;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
label.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}
label.checkbox input:checked ~ .checkmark {
  background-color: var(--colorUiBlue);
}
label.checkbox input:checked ~ .checkmark:after {
  display: block;
}
label.checkbox .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: var(--colorLightGrey);
}
label.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4.5px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid var(--colorWhite);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
label.checkbox:hover {
  color: var(--colorGrey);
}

.moduleList {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background: var(--colorWhite);
  border: 1px var(--colorUiBlue) solid;
  opacity: 0;
  margin-bottom: 16px;
}
.moduleList.dragList, .moduleList#header-module-list, .moduleList#footer-module-list {
  opacity: 1;
}
.moduleList.dragList li {
  cursor: move;
}
.moduleList li {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  max-height: 30px;
  overflow: hidden;
  text-transform: uppercase;
  color: var(--colorUiBlue);
  border-bottom: 1px solid var(--colorUiBlue);
  margin: 0 0 0px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: max-height 0.5s ease;
}
.moduleList li:last-child {
  border: none;
  max-height: 29px;
}
.moduleList li.hint {
  opacity: 0.75;
}
.moduleList li.active {
  background: var(--colorLightGrey);
  opacity: 1;
}
.moduleList li.open {
  max-height: 140px;
}
.moduleList li.open .expand::after {
  transform: rotate(-180deg);
}
.moduleList .list-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
.moduleList .list-item .module-name {
  padding-right: 8px;
}
.moduleList .list-item .close::after,
.moduleList .list-item .expand::after {
  display: block;
  font-family: "Material Symbols Outlined";
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  width: 12px;
  cursor: pointer;
}
.moduleList .list-item .expand::after {
  content: "expand_more";
  transition: transform 0.5s ease;
}
.moduleList .list-item .close::after {
  content: "close";
}
.moduleList .list-item .expand {
  flex-grow: 1;
}
.moduleList .settings {
  margin: 8px;
  display: none;
}
.moduleList .open .settings,
.moduleList .is-opening .settings,
.moduleList .is-closing .settings {
  display: block;
}

.ui-row::after {
  content: "";
  display: block;
  clear: both;
}

.ui-col {
  float: left;
}

.label {
  color: var(--colorBlack);
  font-size: 12px;
  margin-bottom: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.label .expand-all,
.label .collapse-all {
  float: right;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 700;
  color: var(--colorDarkGrey);
}
.label .expand-all:hover,
.label .collapse-all:hover {
  color: var(--colorBlack);
}

.switch {
  border: 1px var(--colorUiBlue) solid;
  border-radius: 6px;
  display: inline-flex;
  background: var(--colorWhite);
  margin: 0 16px 16px 0;
}
.switch > span {
  display: inline-block;
}
.switch > span > label {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--colorUiBlue);
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.switch > span > label:hover {
  background: var(--colorUiBlue20);
}
.switch > span > input:checked ~ label {
  color: var(--colorWhite);
  background-color: var(--colorUiBlue);
}
.switch input {
  display: none;
}
.switch.disabled {
  border: 1px var(--colorDarkGrey) solid;
  background: var(--colorLightGrey);
}
.switch.disabled > span > label {
  color: var(--colorDarkGrey);
}
.switch.disabled > span > label:hover {
  background: var(--colorLightGrey);
}
.switch.disabled > span > input:checked ~ label {
  color: var(--colorWhite);
  background: var(--colorGrey);
}

.toggle {
  margin: 0 16px 16px 0;
}
.toggle input {
  display: none;
}
.toggle label {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 56px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px var(--colorUiBlue) solid;
  border-radius: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--colorWhite);
}
.toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 22px;
  width: 22px;
  background-color: var(--colorUiBlue);
  display: block;
  border-radius: 50%;
  transition: all 0.2s ease;
}
.toggle input:checked ~ label {
  background: var(--colorUiBlue);
}
.toggle input:checked ~ label span {
  background-color: var(--colorWhite);
  left: 29px;
}
.toggle.disabled label {
  border: 1px var(--colorDarkGrey) solid;
  background: var(--colorLightGrey);
}
.toggle.disabled span {
  background-color: var(--colorGrey);
}
.toggle.disabled input:checked ~ label {
  background: var(--colorGrey);
}
.toggle.disabled input:checked ~ label span {
  background-color: var(--colorLightGrey);
}

.select {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px var(--colorUiBlue) solid;
  color: var(--colorUiBlue);
  background: var(--colorWhite);
  cursor: pointer;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  flex-grow: 1;
  border: none;
  border-right: 8px solid transparent;
  outline: 1px var(--colorUiBlue) solid;
  margin: 1px 8px 8px 1px;
  padding: 7px 8px;
}
.select:last-child {
  margin-right: 0;
}
.select:hover {
  color: var(--colorWhite);
  background-color: var(--colorUiBlue);
}

#preview-ui {
  padding: 20px;
  background: var(--colorGrey);
}

#iframe {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  margin: 0 auto;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

#iframe[data-size=mobile] {
  max-width: 370px;
}

#iframe[data-size=tablet] {
  max-width: 720px;
}

#iframe[data-size=full] {
  max-width: 100%;
}

#iframe[data-scale="25"][data-size=full] iframe {
  zoom: 0.25;
  transform: scale(0.25);
  width: 400%;
  height: 400%;
}

#iframe[data-scale="50"][data-size=full] iframe {
  zoom: 0.5;
  transform: scale(0.5);
  width: 200%;
  height: 200%;
}

#iframe[data-scale="75"][data-size=full] iframe {
  zoom: 0.75;
  transform: scale(0.75);
  width: 133.33%;
  height: 133.33%;
}/*# sourceMappingURL=main.css.map */