@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
* {
  font-family: "Proxima Nova", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: row;
}
#main #ui {
  width: 440px;
  min-height: 100vh;
  padding: 20px;
  background: #EEEEEE;
}
#main #preview {
  width: calc(100% - 440px);
  display: flex;
  flex-direction: column;
}

h4 {
  margin: 6px 0;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 8px;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px #4199D4 solid;
  color: #4199D4;
  background: #FFFFFF;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.button:hover {
  color: #FFFFFF;
  background-color: #4199D4;
}
.button:active {
  background-color: #2572a4;
}
.button.alert:hover {
  color: #FFFFFF;
  background-color: #ff6868;
  border-color: #ff6868;
}
.button.disabled {
  border: 1px #999999 solid;
  color: #999999;
  background: #EEEEEE;
}

input[type=text],
textarea {
  width: 100%;
  display: inline-block;
  padding: 8px 12px;
  margin-bottom: 16px;
  font-weight: 400;
  background-color: #FFFFFF;
  color: #000000;
  border: 0.0625rem solid #4199D4;
  border-radius: 4px;
  -webkit-appearance: none;
  outline: none;
}
input[type=text].disabled,
textarea.disabled {
  background: #EEEEEE;
  color: #999999;
  border: 0.0625rem solid #999999;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

label.radio {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  text-transform: initial;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
label.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}
label.radio input:checked ~ .checkmark {
  background-color: #4199D4;
}
label.radio input:checked ~ .checkmark:after {
  display: block;
}
label.radio .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #EEEEEE;
  border-radius: 50%;
}
label.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #FFFFFF;
}
label.radio:hover {
  color: #CCCCCC;
}

label.checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 6px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  text-transform: initial;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
label.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  display: none;
}
label.checkbox input:checked ~ .checkmark {
  background-color: #4199D4;
}
label.checkbox input:checked ~ .checkmark:after {
  display: block;
}
label.checkbox .checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #EEEEEE;
}
label.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4.5px;
  top: 1px;
  width: 3px;
  height: 7px;
  border: solid #FFFFFF;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
label.checkbox:hover {
  color: #CCCCCC;
}

#module-list {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  background: white;
  border: 1px #4199D4 solid;
  opacity: 0;
  margin-bottom: 16px;
}
#module-list.dragList {
  opacity: 1;
}
#module-list li {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  max-height: 30px;
  overflow: hidden;
  text-transform: uppercase;
  color: #4199D4;
  border-bottom: 1px solid #4199D4;
  margin: 0 0 0px 0;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: max-height 0.5s ease;
}
#module-list li:last-child {
  border: none;
  max-height: 29px;
}
#module-list li.hint {
  opacity: 0.75;
}
#module-list li.active {
  background: #EEEEEE;
  opacity: 1;
}
#module-list li.open {
  max-height: 100px;
}
#module-list li.open .expand::after {
  transform: rotate(-180deg);
}
#module-list .list-item {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}
#module-list .list-item .module-name {
  padding-right: 8px;
}
#module-list .list-item .close::after,
#module-list .list-item .expand::after {
  display: block;
  font-family: "Material Symbols Outlined";
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  width: 12px;
  cursor: pointer;
}
#module-list .list-item .expand::after {
  content: "expand_more";
  transition: transform 0.5s ease;
}
#module-list .list-item .close::after {
  content: "close";
}
#module-list .list-item .expand {
  flex-grow: 1;
}
#module-list .settings {
  margin: 8px;
}

.ui-row::after {
  content: "";
  display: block;
  clear: both;
}

.ui-col {
  float: left;
}

.label {
  color: #000000;
  font-size: 12px;
  margin-bottom: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.label .expand-all,
.label .collapse-all {
  float: right;
  padding-left: 10px;
  cursor: pointer;
  font-weight: 700;
  color: #999999;
}
.label .expand-all:hover,
.label .collapse-all:hover {
  color: #000000;
}

.switch {
  border: 1px #4199D4 solid;
  border-radius: 6px;
  display: inline-flex;
  background: #FFFFFF;
  margin: 0 16px 16px 0;
}
.switch > span {
  display: inline-block;
}
.switch > span > label {
  display: inline-block;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4199D4;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.switch > span > label:hover {
  background: rgba(65, 153, 212, 0.2);
}
.switch > span > input:checked ~ label {
  color: #FFFFFF;
  background-color: #4199D4;
}
.switch input {
  display: none;
}
.switch.disabled {
  border: 1px #999999 solid;
  background: #EEEEEE;
}
.switch.disabled > span > label {
  color: #999999;
}
.switch.disabled > span > label:hover {
  background: #EEEEEE;
}
.switch.disabled > span > input:checked ~ label {
  color: #FFFFFF;
  background: #CCCCCC;
}

.toggle {
  margin: 0 16px 16px 0;
}
.toggle input {
  display: none;
}
.toggle label {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 56px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px #4199D4 solid;
  border-radius: 15px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: #FFFFFF;
}
.toggle span {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 22px;
  width: 22px;
  background-color: #4199D4;
  display: block;
  border-radius: 50%;
}
.toggle input:checked ~ label {
  background: #4199D4;
}
.toggle input:checked ~ label span {
  background-color: #FFFFFF;
  left: 29px;
}
.toggle.disabled label {
  border: 1px #999999 solid;
  background: #EEEEEE;
}
.toggle.disabled span {
  background-color: #CCCCCC;
}
.toggle.disabled input:checked ~ label {
  background: #CCCCCC;
}
.toggle.disabled input:checked ~ label span {
  background-color: #EEEEEE;
}

#preview-ui {
  padding: 20px;
  background: #CCCCCC;
}

#iframe {
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
  margin: 0 auto;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
}

#iframe[data-size=mobile] {
  max-width: 370px;
}

#iframe[data-size=tablet] {
  max-width: 720px;
}

#iframe[data-size=full] {
  max-width: 100%;
}

#iframe[data-scale="25"][data-size=full] iframe {
  -ms-zoom: 0.25;
  zoom: 0.25;
  transform: scale(0.25);
  width: 400%;
  height: 400%;
}

#iframe[data-scale="50"][data-size=full] iframe {
  -ms-zoom: 0.5;
  zoom: 0.5;
  transform: scale(0.5);
  width: 200%;
  height: 200%;
}

#iframe[data-scale="75"][data-size=full] iframe {
  -ms-zoom: 0.75;
  zoom: 0.75;
  transform: scale(0.75);
  width: 133.33%;
  height: 133.33%;
}/*# sourceMappingURL=main.css.map */